<ion-header [translucent]="true" role="banner">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" color="secondary">
      <ion-icon size="large" name="film-outline"></ion-icon>
    </ion-buttons>
    <ion-title align="center">
      Movie
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let film of movie.events">
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-left">
              <img src="https://image.tmdb.org/t/p/w500/{{film.poster_path}}" height="200px" class="me-1">
            </ion-col>
            <ion-col>
              <h1>{{film.title}}</h1>
              <small>
                <div *ngIf="film.vote_average > '7'">
                  <ion-text color="primary">Rating : {{film.vote_average}}</ion-text>
                </div>
                <div *ngIf="film.vote_average > '6' && '7' >= film.vote_average">
                  <ion-text color="success">Rating : {{film.vote_average}}</ion-text>
                </div>
                <div *ngIf="'6' >= film.vote_average">
                  <ion-text color="danger">Rating : {{film.vote_average}}</ion-text>
                </div>
              </small>
              <ion-text color="medium"><p>Release : {{film.release_date | date: 'dd MMM YYYY'}}</p></ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary" align="center">
    <ion-title>Andika Dharma Putra - 20.01.4487</ion-title>
  </ion-toolbar>
</ion-footer>
